<nav class="project-nav">
    <a class="project-lists-button" routerLink="projects-list" routerLinkActive="main-active" i18n>Project lists</a>

    <div class="new-container">
        <a class="new-button highlight-blue" routerLink="new-project" i18n>New</a>

        <div class="new-actions-container">
            <a class="new-action-button" routerLink="new-project" routerLinkActive="sub-active" i18n>Project</a>
            <a class="new-action-button" i18n>Customer</a>
            <a class="new-action-button" i18n>Supplier</a>
        </div>
    </div>
</nav>
