<header>
    <div class="pim-banner">
        <div class="pim-logo-container">
            <img class="pim-logo" src="../../assets/img/logo_elca.png" alt="logo" i18n-alt />
        </div>

        <h1 class="pim-title" i18n>Project Information Management</h1>
    </div>

    <div class="utils-bar">
        <button type="button" class="locale-switch-button">
            <span class="highlight-blue">EN</span><span class="highlight-blue"> | </span><span>FR</span>
        </button>

        <div class="utils-container">
            <button type="button" class="help-button highlight-blue" i18n>Help</button>
            <button type="button" class="log-out-button" i18n>Log Out</button>
        </div>
    </div>
</header>